/* Impostazioni Base*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav> ul> li{
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #a3a3a3;
}
p, span{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #a3a3a3;
}
p:hover{
    color: white;
}
span:hover{
    color: white;
}
li:hover{
    color: white;
}
#BarraVerde{
    background-color: #adff2f;
    width: 3px;
    height: 30px;
    float: left;
    margin-top: 95px;
}
body> p{
    color: white;
}
/* Barra Verticale */
.BaseBarraVerticale{
    position: fixed;
    background-color: black;
    width: 300px;
    height: 100vh;
}
#LogoBarraVerticale{
    width: 150px;
    height: auto;
    margin-left: 20px;
    padding-top: 30px;
}
.BaseBarraVerticale> .PrimaNavVerticale> nav> ul> li{
    margin-left: 30px;
    padding-top: 20px;
    font-size: 12px;
}
.BaseMain{
    background-color: #141922;
    height: 80vh;
    margin-left: 300px;
    width: calc(100vw - 300px);
    overflow: scroll;
}
/*parte inferiore header*/
.BaseBarraVerticale> .Playlist> nav> ul> li{
    margin-left: 30px;
    padding-top: 20px;
    font-size: 12px;
}
.BaseBarraVerticale> .Playlist> p{
    margin-left: 30px;
    padding-top: 30px;
}
#Quadratopiu{
    height: 30px;
    width: 30px;
    background-color: #a3a3a3;
    font-size: 25px;
    text-align: center;
    color: green;
    margin-left: 30px;
    margin-top: 10px;
    float: left;
}
#Quadratopiu> p{
    font-size: 25px;
    text-align: center;
    color: black; 
}
#Quadratopiu> p:hover{
    color: white;
}    
#CreaPlaylist{
    margin-left: 70px;
    padding-top: 17px;
}
.LogoBarra{
    width: 20px;
    height: auto;
    margin-right: 3px; 
}
.NavRiproduzione{
    position: fixed;
    background-color: #282828;
    height: 10vh;
    width: 100%;
}
/* Parte Finale header */
.PrimaparteFinaleHeader{
    margin-top: 340px;
    color: #a3a3a3;
}
.PrimaparteFinaleHeader> hr{
    color: #a3a3a3;
    width: 70%;
    margin-left: 10%;
    margin-right: 10%;
}    
.PrimaparteFinaleHeader> p{
    margin-left: 20%;
    padding-bottom: 10px;
}
#ImageDownload{
    width: 20px;
    height: auto;
    float: left;
    margin-left: 9%;
}
.SecondaparteFinaleHeader{
    color: white;
    display: flex;
    align-items: center;
}
#ImageSecondaparteFinaleheader{
    background-color: #a3a3a3;
    border-radius: 50%;
    border-style: solid;
    border-color: #a3a3a3;
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 10%;
    margin-top: 10px;
    
}
#JohnDoe{
    margin-left: 10px;
}
/* Barra Superiore */
.BarraOrizzontaleSuperiore{
    background-color: #080b12;
    margin-left: 300px;
    height: 10vh; 
}
#EffettuaUpgrade{
    display: flex;
    position: absolute;
    right: 0;
    top: 25px;
    height: 40px;
    width: 220px;
    border-radius: 40px;
    border-style: solid;
    border-color: white;
    justify-content: center;
    align-items: center;
}
#EffettuaUpgrade:hover{
    top: 20px;
    height: 60px;
    width: 230px;
}
#EffettuaUpgrade> p{
    font-size: 15px;
    color: white;
}
/* lista superiore */
#ListaSuperiore{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    color: #a3a3a3;
}
#ListaSuperiore> li{
    margin-right: 15px;
} 
#BarraVerde2{
    background-color: #adff2f;
    width: 35px;
    height: 3px;
    margin-left: 34%;
    margin-top: 5px;
} 
/*Inizio parte main dei brani */
.Brani{
    margin-left: 40px;
}
.FlexBrani{
    display: flex;
}
#BraniRecenti{
    margin-top: 40px;
    color: white;
    font-size: 20px;
}
.BaseCoverCanzoni{
    margin-top: 20px;
    background-color: white;
    width: 250px;
    height: 250px;
    margin-right: 30px;
    text-align: center;
    
} 
.BaseCoverCanzoni> img{
    width: 100%;
    object-fit: cover;
}
#TitoloBrani{
    color: white;
    padding-top: 10px;
    font-size: 20px;
}
#SottotitoliBrani{
    padding-top: 5px;  
}
#BraniRecenti2{
    margin-top: 160px;
    color: white;
    font-size: 20px;
}
.BaseCoverCanzoni2{
    margin-top: 20px;
    background-color: white;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-right: 30px;
    text-align: center;
}
.BaseCoverCanzoni2> img{
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
/* Footer */
#BranoSinister{
    background-color: #adff2f;
    height: 50px;
    width: 50px;
    margin-left: 20px;
    margin-top: 20px;
}
.ParteSinistraFooter{
    display: flex;
    align-items: center;
}
.NavRiproduzione> .ParteSinistraFooter> #BranoSinister img{
    width: 100%;
    object-fit: cover;
    
}
.NavRiproduzione> .ParteSinistraFooter> p> strong{
    color: white;  
}
.NavRiproduzione> .ParteSinistraFooter> p{
    margin-left: 20px;
    padding-top: 20px;
}
.NavRiproduzione> .ParteSinistraFooter> p> i{
    margin-left: 9px;
}
