*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.BaseBarraVerticale{
    position: fixed;
    background-color: black;
    width: 300px;
    height: 1000px;
}
.BarraOrizzontaleSuperiore{
    background-color: #080b12;
    margin-left: 300px;
    height: 20vh; 
}
.BaseMain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #141922;
    height: 72vh;
    margin-left: 300px;
}
.NavRiproduzione{
    position: fixed;
    background-color: #282828;
    height: 8vh;
    width: 100%;
}